.view {
	-webkit-transition: -webkit-transform 0.4s ease-in-out;
	transition: transform 0.4s ease-in-out;
}

.view--compare {
	-webkit-transform: scale3d(0.9,0.9,1);
	transform: scale3d(0.9,0.9,1);
}

/* product grid */
.grid {
	margin: 0 auto;
	margin-bottom: 176px;
	padding: 4em 1em;
	max-width: 1200px;
	text-align: center;
	overflow: hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* if flexbox is supported, let's use it to lay out the products */
.flexbox .grid {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-content: stretch;
	-ms-flex-line-pack: stretch;
	align-content: stretch;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
}

/* product */
.product {
	position: relative;
	display: inline-block;
	vertical-align: top;
	min-width: 16em;
	margin: 0 1em 2.5em;
	padding: 1.5em 1.5em 2em;
	background: #24252a80;
	border-radius: 9px;
}

.product--selected {
	box-shadow: 0 0 0 2px #5C5EDC;
}

.flexbox .product {
	display: block;
	-webkit-flex: 0 0 16em;
	-ms-flex: 0 0 16em;
	flex: 0 0 16em;
}

/* product info */
.product__info > span {
	display: block;
	height: 72px;
	padding: 1em 0;
}

/* since we'll be using the product info inside of the comparison, we'll hide the extra info for the grid view */
.grid .extra {
	display: none;
}

.product__image {
	width: auto;
    height: 290px; /* Default size for medium and larger screens */
    object-fit: cover;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}
.compare-basket .product__image {
    height: 39px; /* Height for comparison basket */
}

.product:hover .product__image {
	-webkit-animation: swing 0.6s forwards;	
	animation: swing 0.6s forwards;	
}

.product__details {
	margin: 20px 1px;
	font-family: Arial, sans-serif;
}

.product__heading {
	text-align: center;
	font-size: 1.5em;
	color: #00d472;
	margin-bottom: 39px;
	text-transform: uppercase;
	font-weight: bold;
	padding-bottom: 5px;
}

.product__detail {
	margin-bottom: 10px;
	display: flex;
	justify-content: center;
	font-size: 1.2em;
	color: #555;
}

.product__label {
	font-weight: bold;
	margin-right: 10px;
	color: #222;
}

.product__value {
	color: #aba6a6;
}

.highlight {
	color: #e74c3c;
	font-weight: bold;
}

.extra {
	font-style: italic;
}

/* https://daneden.github.io/animate.css/ */
@-webkit-keyframes swing {
	25% {
		-webkit-transform: rotate3d(0, 0, 1, 6deg);
		transform: rotate3d(0, 0, 1, 6deg);
	}

	50% {
		-webkit-transform: rotate3d(0, 0, 1, -4deg);
		transform: rotate3d(0, 0, 1, -4deg);
	}

	75% {
		-webkit-transform: rotate3d(0, 0, 1, 2deg);
		transform: rotate3d(0, 0, 1, 2deg);
	}

	100% {
		-webkit-transform: rotate3d(0, 0, 1, 0deg);
		transform: rotate3d(0, 0, 1, 0deg);
	}
}

@keyframes swing {
  25% {
		-webkit-transform: rotate3d(0, 0, 1, 6deg);
		transform: rotate3d(0, 0, 1, 6deg);
	}

	50% {
		-webkit-transform: rotate3d(0, 0, 1, -4deg);
		transform: rotate3d(0, 0, 1, -4deg);
	}

	75% {
		-webkit-transform: rotate3d(0, 0, 1, 2deg);
		transform: rotate3d(0, 0, 1, 2deg);
	}

	100% {
		-webkit-transform: rotate3d(0, 0, 1, 0deg);
		transform: rotate3d(0, 0, 1, 0deg);
	}
}

.product__title {
	font-size: 150%;
	margin: 1em 0 0;
	height: 76px;
}

.product__price {
	font-weight: bold;
	color: #797BED;
}

.action {
	display: inline-block;
	font-size: 1em;
	white-space: nowrap;
	padding: 0.85em 1.25em;
	cursor: pointer;
	border: none;
	background: transparent;
	text-align: center;
}

.action:focus {
	outline: none;
}

.action--button {
	background: #2C2D34;
	color: #fff;
	border-radius: 2px;
	-webkit-transition: background 0.2s;
	transition: background 0.2s;
}

.action--button:hover {
	background: #5C5EDC;
}

.action__text {
	font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: bold;
	letter-spacing: 1px;
	font-size: .813em;
	vertical-align: middle;
	display: inline-block;
}

.action__text--invisible {
	position: absolute;
	top: 100%;
	opacity: 0;
	pointer-events: none;
}

.action--button i + span {
	margin-left: 1em;
}

.flexbox .action--buy {
	-webkit-align-self: center;
	-ms-flex-item-align: center;
	align-self: center;
	margin-top: 1em;
	-webkit-flex: none;
	-ms-flex: none;
	flex: none;
}

.action--close {
	position: absolute;
	overflow: hidden;
	top: 0;
	right: 0;
	font-size: 1.5em;
	color: #ddd;
	pointer-events: none;
	opacity: 0;
	-webkit-transition: opacity 0.3s, background 0.2s;
	transition: opacity 0.3s, background 0.2s;
}

.view--compare + .compare .action--close {
	pointer-events: auto;
	opacity: 1;
	-webkit-transition-delay: 0.4s, 0s;
	transition-delay: 0.4s, 0s;
}

.action--close:hover,
.action--close:focus {
	color: #797BED;
}

.action--compare {
	margin: 0 0 0 4px;
	opacity: 0;
	pointer-events: none;
	cursor: default;
	background-color: #34363D;
	color: #565B6C;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.compare-basket--active .action--compare {
	opacity: 1;
}

.compare-basket--active .action--compare:nth-child(3),
.compare-basket--active .action--compare:nth-child(4) {
	background-color: #494BC7;
	color: #fff;
	pointer-events: auto;
	cursor: pointer;
}

.action--remove {
	position: absolute;
	overflow: hidden;
	color: #ddd;
	top: 0px;
	right: 2px;
	padding: 0;
	font-size: 0.65em;
}

.action--compare-add {
	color: #ddd;
	position: absolute;
	top: 10px;
	right: 5px;
}

.action--compare-add:hover .action__text--invisible {
	opacity: 1;
	top: 35px;
	right: 10px;
	color: #ddd;
	font-size: 75%;
	letter-spacing: 0;
	background: #2F3035;
	border-radius: 2px;
	padding: 3px 5px;
}

.action--remove:hover,
.action--compare-add:hover {
	color: #5C5EDC;
}

.action--compare-add .fa-check,
.action--compare-add input[type=checkbox]:checked ~ .fa-plus {
	display: none;
}

.action--compare-add input[type=checkbox]:checked ~ .fa-check {
	display: block;
	color: #5C5EDC;
}

.check-hidden {
	position: absolute;
	opacity: 0;
}

.compare-basket {
	width: 100%;
	padding: 0.75em;
	text-align: right;
	position: fixed;
	top: 0;
	left: 0;
	background: #212227;
	z-index: 1000;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transform: translate3d(0,-100%,0);
	transform: translate3d(0,-100%,0);
	-webkit-transition: -webkit-transform 0.3s cubic-bezier(0.2,1,0.3,1);
	transition: transform 0.3s cubic-bezier(0.2,1,0.3,1);
}

.compare-basket--active {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.flexbox .compare-basket {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

.product-icon {
	display: inline-block;
	vertical-align: middle;
	background: #42444F;
	width: 50px;
	height: 50px;
	padding: 5px;
	margin: 0 3px;
	border-radius: 2px;
	position: relative;
}

.product-icon::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border-radius: 4px;
	z-index: -1;
	box-shadow: -56px 0 #2C2D34;
}

.compare-basket--full .product-icon::after {
	display: none;
}

.flexbox .product-icon {
	display: block;
}

/* comparison overlay */
.compare {
	position: fixed;
	z-index: 100;
	width: 100%;
	height: 0;
	overflow: hidden;
	top: 0;
	left: 0;
	z-index: 1001;
	-webkit-transition: height 0s 0.4s;
	transition: height 0s 0.4s;
}

.flexbox .compare {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
}

.view--compare + .compare {
	pointer-events: auto;
	-webkit-transition: none;
	transition: none;
	height: 100vh; /* Set height to fill the viewport initially */
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: hidden; /* Prevent horizontal scrolling */
    scroll-behavior: smooth;
}

.flexbox .view--compare {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column; /* Ensure items stack vertically */
}

.compare::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	opacity: 0;
	-webkit-transition: opacity 0.4s;
	transition: opacity 0.4s;
}

.view--compare + .compare::before {
	opacity: 1;
}

.compare__item {
	height: fit-content;
	width: 50%;
	background: #24252A;
	text-align: center;
	cursor: default;
	padding: 2em 0;
	-webkit-transition: -webkit-transform 0.4s ease-in-out;
	transition: transform 0.4s ease-in-out;
}

.no-flexbox .compare__item {
	display: inline-block;
	width: 50%;
}

.compare__item:nth-of-type(2) {
	background: #212227;
}

.compare__item .product__title {
	margin: 1em 0;
	min-height: 0;
}

.compare__item .product__price {
	color: #CECECE;
}

.compare__item span[class^="product__"] {
	display: block;
	padding: 0.85em 0;
	-webkit-transition: background-color 0.3s;
	transition: background-color 0.3s;
}

.compare__item span[class^="product__"].hover {
	background: #000;
}

/* three items */
.compare__item:first-of-type:nth-last-of-type(4),
.compare__item:first-of-type:nth-last-of-type(4) ~ .compare__item {
    width: 25%; 
}

.flexbox .compare__item {
	-webkit-flex: auto;
	-ms-flex: auto;
	flex: auto;
}

.compare__item:nth-child(odd) {
	-webkit-transform: translate3d(0,-100vh,0);
	transform: translate3d(0,-100vh,0);
}

.compare__item:nth-child(even) {
	-webkit-transform: translate3d(0,100vh,0);
	transform: translate3d(0,100vh,0);
}

.view--compare + .compare .compare__item:nth-child(odd),
.view--compare + .compare .compare__item:nth-child(even) {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.compare__effect {
	width: 100%;
	height: 100%;
	opacity: 0;
	-webkit-transition: -webkit-transform 1s cubic-bezier(0.2, 1, 0.3, 1), opacity 1s cubic-bezier(0.2, 1, 0.3, 1);
	transition: transform 1s cubic-bezier(0.2, 1, 0.3, 1), opacity 1s cubic-bezier(0.2, 1, 0.3, 1);
}

.compare__item:nth-child(odd) .compare__effect {
	-webkit-transform: translate3d(0,-250px,0);
	transform: translate3d(0,-250px,0);
}

.compare__item:nth-child(even) .compare__effect {
	-webkit-transform: translate3d(0,250px,0);
	transform: translate3d(0,250px,0);
}

.view--compare + .compare .compare__item:nth-child(odd) .compare__effect,
.view--compare + .compare .compare__item:nth-child(even) .compare__effect {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

.highlight {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adjust gap as needed */
}

.product__detail {
    display: flex;
    justify-content: space-between;
	padding: 0 23px 0 23px;
}

.product__label {
    font-weight: bold;
    color: #FF5722; /* Apply color from your .highlight b style */
}




@media screen and (min-width: 59.688em) {
	.flexbox .compare__effect {
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}

	.flexbox .compare__item .product__image {
		-webkit-align-self: center;
		-ms-flex-align: center;
		align-self: center;
		-webkit-flex: none;
		-ms-flex: none;
		flex: none;
	}
}

@media screen and (max-width: 59.688em) {
	.grid {
		padding: 2em 0.5em;
		font-size: 65%;
	}

	.product {
		margin: 0 0.5em 1em;
		min-width: 13em;
	}

	.product__title {
		font-size: 115%;
	}

	.flexbox .product {
		-webkit-flex: 0 0 13em;
		-ms-flex: 0 0 13em;
		flex: 0 0 13em;
	}

	.flexbox .compare {
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: row;
	}
	
	.no-flexbox .compare__item,
	.compare__item,
	.compare__item:first-of-type:nth-last-of-type(3),
	.compare__item:first-of-type:nth-last-of-type(3) ~ .compare__item {
		width: 100%;
	}

	.compare__item {
		text-align: left;
		padding: 1.5em;
		box-sizing: border-box;
		font-size: 90%;
	}

	.compare__item .product__image {
		height: 100px; 
    	max-width: 100%;
		float: left;

	}

	.compare__item .product__title {
		margin: 0 40px 0 43px;
		font-size: 0.85em;
		display: block;
	}

	.compare__item .product__year { border-bottom: 2px solid #2E294E; }
	.compare__item .product__region { border-bottom: 2px solid #6D6FD2; }
	.compare__item .product__varietal { border-bottom: 2px solid #4B5267; }
	.compare__item .product__alcohol { border-bottom: 2px solid #3C3474; }

	.action--close {
		padding: 0.5em 0.75em;
	}

	.compare__item .action--buy {
		margin: 0;
		display: block;
	}

	.compare__item span[class^="product__"] {
		display: inline-block;
		padding: 0.25em;
		margin: 0 0 0.5em 0;
		font-size: 0.85em;
	}

	.compare__item:nth-child(odd) {
		-webkit-transform: translate3d(-100%,0,0);
		transform: translate3d(-100%,0,0);
	}

	.compare__item:nth-child(even) {
		-webkit-transform: translate3d(100%,0,0);
		transform: translate3d(100%,0,0);
	}

	.compare__item:nth-child(odd) .compare__effect {
		-webkit-transform: translate3d(-250px,0,0);
		transform: translate3d(-250px,0,0);
	}

	.compare__item:nth-child(even) .compare__effect {
		-webkit-transform: translate3d(250px,0,0);
		transform: translate3d(250px,0,0);
	}

	/* Add Scrolling Option to Comparison Page */
	.compare {
		overflow-y: auto; /* Enable vertical scrolling */
		overflow-x: hidden; /* Prevent horizontal scrolling */
	}
	
	/* Make sure scrolling is smooth */
	.compare__item {
		overflow: hidden; /* Hide overflow within items */
	}
}

@media screen and (max-width: 59.688em) {
    .compare__item {
        width: 100%; /* Full width for smaller screens */
        padding: 1em; /* Adjust padding for smaller screens */
    }

    .compare__item .product__image {
        height: 80px; /* Adjust for mobile screens */
    }
}



@media screen and (min-width: 59.688em) {
    .product__image {
        height: 290px; /* Reduced size for larger screens */
    }	
}

@media screen and (max-width: 59.688em) {
    .product__image {
        height: 80px; /* Smaller size for mobile screens */
    }
}

/* General styling for the animated heading */
.animated-heading {
    font-size: 1.5rem; /* Base size for medium screens */
    font-weight: bold;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right, #4ffead, #dfd3d3);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: headingEffect 3s infinite;
}

/* Adjust the font size and responsiveness */
@media screen and (max-width: 749px) {
    .animated-heading {
        font-size: 1.2rem; /* Smaller font size for tablet screens */
    }
    .product__price-section {
        margin-top: 10px; /* Adjust top margin */
    }
    .product-price {
        font-size: 1rem; /* Adjusted for tablet */
    }
    .product__discount {
        font-size: 0.9rem; /* Adjust discount size for smaller screens */
    }
    .product__mrp {
        font-size: 0.9rem; /* Adjust MRP size for smaller screens */
    }
	.product__platform {
        font-size: 0.9rem; /* Further adjust product platform size for mobile */
    }
	.product-price {
        font-size: 1.4rem; /* Adjusted for smaller screens */
    }

    .product__price-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .product-price {
        font-weight: bold;
        color: #797BED;
    }
	.animated-heading {
        font-size: 1.2rem; /* Smaller font size for tablet screens */
    }
    .product__price-section {
        margin-top: 10px; /* Adjust top margin */
    }
    .product-price {
        font-size: 1.1rem; /* Adjusted size for pricing on smaller screens */
    }
	.product__discount {
		top: 30px !important;
        right: 98px !important;
        padding: 3px 6px !important;
        font-size: 0.46rem !important;
	}
	.main-nav ul {
        display: none;
        position: absolute;
        top: 13px;
        right: -130px;
        background: #1b1c29;
        width: 124px;
        border: 0.3px solid #00d4ff;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        flex-direction: column;
        border-radius: 3px;
		gap: 6px;
        padding-left: 0;
    }

    .main-nav ul.active {
        display: flex;
    }

    .main-nav ul li {
        margin: 0;
		margin-bottom: 13px;
		margin-top: 13px;
    }

    /* Hide "Join Us" text */
    .cta-btn .join-us-text {
        display: none;
    }

    /* Display the menu dots */
    .menu-dots {
        display: block;
		margin-left: 16px;
    }

    /* Hide the default navigation on small screens */
    .main-nav {
        position: relative;
    }

    /* Adjust logo position */
    .logo {
        margin-left: 10px;
    }
	.right-menu{
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	.right-menu b{
		display: none;
	}
	.main-header .container {
		width: 90%;
		max-width: 1200px;
		margin: 0px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

@media screen and (min-width: 750px) and (max-width: 950px) {
    .product__discount {
        top: 30px !important; 
        right: 98px !important;
        padding: 3px 6px !important;
        font-size: 0.46rem !important;
    }
	.hero-section {
        font-size: 1.5rem; /* Slightly smaller font size */
        padding: 40px;
    }
	.right-menu {
		display: flex;
		align-items: center;
		font-weight: 500;
	}
	.menu-dots {
		display: none;
	}
	.right-menu b {
		padding-left: 10px;
		font-weight: 500;
	}
}

@media screen and (min-width: 951px){
	.menu-dots {
		display: none;
	}
	.right-menu b {
		padding-left: 10px;
		font-weight: 500;
	}
}

@media screen and (max-width: 480px) {
    .animated-heading {
        font-size: 1rem; /* Even smaller font size for mobile screens */
    }
    .product-price {
        font-size: 0.8rem; /* Further adjust for mobile */
    }
    .product__discount {
        font-size: 0.53rem; /* Discount size for mobile */
		top: -7px;
    	right: -7px;
    }
    .product__mrp {
        font-size: 0.6rem; /* Further adjust MRP size for mobile */
    }
    .product__platform {
        font-size: 0.6rem; /* Further adjust product platform size for mobile */
    }
	.animated-heading {
        font-size: 1rem; /* Even smaller font size for mobile screens */
    }
    .product {
        min-width: 10em; /* Adjust the minimum width of product cards */
    }
    .product__image {
        height: 70px; /* Further reduce the image size */
    }
	.product__details {
        font-size: 0.9em;
        margin: 10px;
    }

    .product__title {
        font-size: 1.2rem;
    }

    .product__image {
        height: 60px; /* Further reduction for very small screens */
    }
	.hero-section {
        font-size: 1.2rem; /* Even smaller font size */
        padding: 30px;
    }
}


/* Animation for background gradient */
@keyframes headingEffect {
    0% { transform: translateX(-13%); }
    50% { transform: translateX(13%); }
    100% { transform: translateX(-13%); }
}


/* Price Section */
.product__price-section {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: flex-end; /* Align items to the start of the container */
    position: relative;
    margin-top: 15px;
}

/* Price styling */
.animated-price {
	font-size: 1.2rem; /* Adjust size as needed */
    color: #4CAF50;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

/* Hover effect on price */
.animated-price:hover {
    color: #1e7e34;
}

/* Discount styling */
.product__discount {
    position: absolute;
    top: 40px;
    right: 109px;
    background-color: #FF5722;
    color: #fff;
    border-radius: 50px;
    font-size: 0.8rem;
    padding: 0.2em 0.5em;
    opacity: 0;
    animation: fadeInDiscount 2s forwards;
    animation-delay: 0.3s;
    font-weight: bold;
    text-shadow: 0.2px 0.2px 3px #000;
}


.animated-price {
    font-size: 1.2rem;
    color: #4CAF50;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.animated-price:hover {
    color: #1e7e34;
}

.product__mrp {
    font-size: 1rem;
    text-decoration: line-through;
    color: #777;
    margin-top: 5px; /* Space between price and MRP */
}

@keyframes fadeInDiscount {
	0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Platform */
.product__platform {
    font-size: 0.9rem;
    margin-top: 10px;
    color: #666;
}

/* Hover effect for product box */
.product:hover .animated-heading {
    animation-play-state: paused;
}

.product:hover .animated-price {
    color: #008f39;
}

/* Button Effect */
button.action--button {
    background-color: #3f51b5;
    color: white;
    border: none;
    padding: 10px 20px;
	margin-bottom: 43px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button.action--button:hover {
    background-color: #283593;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}